.search-list {
  color: #fff;
  margin-top: 60px;
  .item {
    background: rgba(255,255,255, 0.3);
    margin-bottom: 20px;
    .name {
      font-size: 20px;
      font-weight: bold;
      word-wrap: break-word;
    }
    .magnet {

    }
    .count {

    }
    .detailUrl{

    }
    .formatSize {

    }
  }
}
